.mod {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.header-i0 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-width: 1px;
  border-radius: 4px;
  box-shadow: 0px 3px 5px 0px rgba(212, 212, 212, 0.6);
  border-style: solid;
  border-color: rgba(132.0000073313713, 197.96498447656631, 255, 1);
  background-color: #f1f5ff;
  width: 197px;
  height: 44px;
  overflow: auto;
}

.thumbnail {
  margin-top: 1px;
  margin-right: 5px;
  width: 10px;
  height: 14px;
}

.logo {
  margin-top: -2px;
  width: 157px;
  height: 19px;
}

.header-i1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 11px;
  border-width: 1px;
  border-radius: 4px;
  box-shadow: 0px 3px 5px 0px rgba(212, 212, 212, 0.6);
  border-style: solid;
  border-color: rgba(132.0000073313713, 197.96498447656631, 255, 1);
  background-color: #f1f5ff;
  width: 197px;
  height: 44px;
  overflow: auto;
}

.figure {
  margin-top: 1px;
  margin-right: 4px;
  width: 10px;
  height: 14px;
}

.logo-1 {
  margin-top: -2px;
  width: 158px;
  height: 19px;
}

.submain-i0 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 11px;
  border-width: 1px;
  border-radius: 4px;
  box-shadow: 0px 3px 5px 0px rgba(212, 212, 212, 0.6);
  border-style: solid;
  border-color: rgba(132.0000073313713, 197.96498447656631, 255, 1);
  background-color: #f1f5ff;
  width: 197px;
  height: 44px;
  overflow: auto;
}

.media {
  margin-top: 1px;
  margin-right: 4px;
  margin-left: 11px;
  width: 10px;
  height: 14px;
}

.large-icon {
  width: 59px;
  height: 18px;
}

.submain-i1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 11px;
  border-width: 1px;
  border-radius: 4px;
  box-shadow: 0px 3px 5px 0px rgba(212, 212, 212, 0.6);
  border-style: solid;
  border-color: rgba(132.0000073313713, 197.96498447656631, 255, 1);
  background-color: #f1f5ff;
  width: 197px;
  height: 44px;
  overflow: auto;
}

.thumbnail-1 {
  margin-top: 1px;
  margin-right: 4px;
  margin-left: 11px;
  width: 10px;
  height: 14px;
}

.large-icon-1 {
  width: 78px;
  height: 18px;
}

.header-i2 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 11px;
  border-width: 1px;
  border-radius: 4px;
  box-shadow: 0px 3px 5px 0px rgba(212, 212, 212, 0.6);
  border-style: solid;
  border-color: rgba(132.0000073313713, 197.96498447656631, 255, 1);
  background-color: #f1f5ff;
  width: 197px;
  height: 44px;
  overflow: auto;
}

.figure-1 {
  margin-top: 1px;
  margin-right: 4px;
  margin-left: 11px;
  width: 10px;
  height: 14px;
}

.logo-2 {
  margin-top: -2px;
  width: 137px;
  height: 19px;
}

.submain-i2 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 11px;
  border-width: 1px;
  border-radius: 4px;
  box-shadow: 0px 3px 5px 0px rgba(212, 212, 212, 0.6);
  border-style: solid;
  border-color: rgba(132.0000073313713, 197.96498447656631, 255, 1);
  background-color: #f1f5ff;
  width: 197px;
  height: 44px;
  overflow: auto;
}

.media-1 {
  margin-top: 1px;
  margin-right: 4px;
  margin-left: 11px;
  width: 10px;
  height: 14px;
}

.large-icon-2 {
  margin-top: -2px;
  width: 78px;
  height: 19px;
}

.header-i3 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 11px;
  border-width: 1px;
  border-radius: 4px;
  box-shadow: 0px 3px 5px 0px rgba(212, 212, 212, 0.6);
  border-style: solid;
  border-color: rgba(132.0000073313713, 197.96498447656631, 255, 1);
  background-color: #f1f5ff;
  width: 197px;
  height: 44px;
  overflow: auto;
}

.thumbnail-2 {
  margin-top: 1px;
  margin-right: 4px;
  width: 10px;
  height: 14px;
}

.logo-3 {
  width: 156px;
  height: 18px;
}

.footer {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 11px;
  width: 197px;
  height: 44px;
}

.action-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 197px;
  height: 44px;
}

.icon {
  position: relative;
  margin-top: 2px;
  margin-right: 5px;
  margin-left: 12px;
  width: 10px;
  height: 14px;
}

.logo-4 {
  position: relative;
  width: 98px;
  height: 18px;
}
